@import "tailwindcss";
@import "primeicons/primeicons.css";

body {
  font-family: "Inter Tight", sans-serif;
}

p {
  @apply mb-4 text-justify;
}

.sidebar_header {
  @apply text-lg mb-4;
}

.section_header {
  @apply text-3xl mb-10;
}

.tag_wrapper {
  @apply flex flex-wrap gap-1.5 justify-center;
}

.tag {
  @apply bg-stone-300 px-2 py-0.5 rounded-md text-xs;
}
