@import "tailwindcss";
@import "primeicons/primeicons.css";

body {
  font-family: "Inter Tight", sans-serif;
}

p {
  @apply mb-4 text-justify;
}

.sidebar_header {
  @apply text-lg mb-3;
}

.section_header {
  @apply text-3xl mb-6;
}

.tag_wrapper {
  @apply flex flex-wrap gap-1.5;
}

.tag {
  @apply px-4 bg-gray-100 py-0.5 text-xs border-l-2 border-b-2 border-t border-r hover:italic;
}
