@import "tailwindcss";
@import "primeicons/primeicons.css";

body {
  font-family: "Inter Tight", sans-serif;
}

p {
  @apply mb-4 text-justify;
}

.sidebar_header {
  @apply text-lg mb-4;
}

.section_header {
  @apply text-2xl mb-4;
}
